## Import the relevant libraries

In [1]:
import pandas as pd
import numpy as np

## Load the data

In [2]:
data_preprocessed = pd.read_csv('df_preprocessed.csv')

In [3]:
data_preprocessed.head()

,Unnamed: 0,reason_type_1,reason_type_2,reason_type_3,reason_type_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

## Create the targets

In [4]:
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [5]:
targets = np.where(data_preprocessed['Absenteeism Time in Hours'] > 
                   data_preprocessed['Absenteeism Time in Hours'].median(), 1, 0)

In [6]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [7]:
data_preprocessed['Excessive Absenteeism'] = targets

In [8]:
data_preprocessed.head()

,Unnamed: 0,reason_type_1,reason_type_2,reason_type_3,reason_type_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0

## A comment on the targets

In [9]:
targets.sum() / targets.shape[0]

0.45571428571428574

In [10]:
data_with_targets = data_preprocessed.drop(['Absenteeism Time in Hours','Day of the Week',
                                            'Daily Work Load Average','Distance to Work'],axis=1)

In [11]:
data_with_targets is data_preprocessed

False

In [12]:
data_with_targets.head()

,Unnamed: 0,reason_type_1,reason_type_2,reason_type_3,reason_type_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,0,1,7,289,33,30,0,2,1,1
1,1,0,0,0,0,7,118,50,31,0,1,0,0
2,2,0,0,0,1,7,179,38,31,0,0,0,0
3,3,1,0,0,0,7,279,39,24,0,2,0,1
4,4,0,0,0,1,7,289,33,30,0,2,1,0

## Select the inputs for the regression

In [13]:
data_with_targets.shape

(700, 13)

In [14]:
data_with_targets.iloc[:,:14]

,Unnamed: 0,reason_type_1,reason_type_2,reason_type_3,reason_type_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,0,1,7,289,33,30,0,2,1,1
1,1,0,0,0,0,7,118,50,31,0,1,0,0
2,2,0,0,0,1,7,179,38,31,0,0,0,0
3,3,1,0,0,0,7,279,39,24,0,2,0,1
4,4,0,0,0,1,7,289,33,30,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,695,1,0,0,0,5,179,40,22,1,2,0,1
696,696,1,0,0,0,5,225,28,24,0,1,2,0
697,697,1,0,0,0,5,330,28,25,1,0,0,1
698,698,0,0,0,1,5,235,32,25,1,0,0,0
699,699,0,0,0,1,5,291,40,25,0,1,1,0

In [15]:
data_with_targets.iloc[:,:-1]

,Unnamed: 0,reason_type_1,reason_type_2,reason_type_3,reason_type_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,0,1,7,289,33,30,0,2,1
1,1,0,0,0,0,7,118,50,31,0,1,0
2,2,0,0,0,1,7,179,38,31,0,0,0
3,3,1,0,0,0,7,279,39,24,0,2,0
4,4,0,0,0,1,7,289,33,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
695,695,1,0,0,0,5,179,40,22,1,2,0
696,696,1,0,0,0,5,225,28,24,0,1,2
697,697,1,0,0,0,5,330,28,25,1,0,0
698,698,0,0,0,1,5,235,32,25,1,0,0
699,699,0,0,0,1,5,291,40,25,0,1,1

In [16]:
unscaled_inputs = data_with_targets.iloc[:,:-1]

## Standardize the data

In [17]:
from sklearn.preprocessing import StandardScaler

absenteeism_scaler = StandardScaler()

In [18]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

class CustomScaler(BaseEstimator,TransformerMixin): 
    
    def __init__(self,columns):
        self.scaler = StandardScaler()
        self.columns = columns
        self.mean_ = None
        self.var_ = None

    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self

    def transform(self, X, y=None, copy=None):
        init_col_order = X.columns
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
        X_not_scaled = X.loc[:,~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [19]:
unscaled_inputs.columns.values

array(['Unnamed: 0', 'reason_type_1', 'reason_type_2', 'reason_type_3',
       'reason_type_4', 'Month Value', 'Transportation Expense', 'Age',
       'Body Mass Index', 'Education', 'Children', 'Pets'], dtype=object)

In [20]:
#columns_to_scale = ['Month Value','Day of the Week', 'Transportation Expense', 'Distance to Work',
       #'Age', 'Daily Work Load Average', 'Body Mass Index', 'Children', 'Pet']

columns_to_omit = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4','Education']

In [21]:
columns_to_scale = [x for x in unscaled_inputs.columns.values if x not in columns_to_omit]

In [22]:
absenteeism_scaler = CustomScaler(columns_to_scale)

In [23]:
absenteeism_scaler.fit(unscaled_inputs)

C:\ProgramData\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3430: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

CustomScaler(columns=['Unnamed: 0', 'reason_type_1', 'reason_type_2',
                      'reason_type_3', 'reason_type_4', 'Month Value',
                      'Transportation Expense', 'Age', 'Body Mass Index',
                      'Children', 'Pets'])

In [24]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

In [25]:
scaled_inputs

,Unnamed: 0,reason_type_1,reason_type_2,reason_type_3,reason_type_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,-1.729578,-0.577350,-0.092981,-0.314485,0.821365,0.030796,1.005844,-0.536062,0.767431,0,0.880469,0.268487
1,-1.724629,-0.577350,-0.092981,-0.314485,-1.217485,0.030796,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
2,-1.719681,-0.577350,-0.092981,-0.314485,0.821365,0.030796,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
3,-1.714732,1.732051,-0.092981,-0.314485,-1.217485,0.030796,0.854936,0.405184,-0.643782,0,0.880469,-0.589690
4,-1.709783,-0.577350,-0.092981,-0.314485,0.821365,0.030796,1.005844,-0.536062,0.767431,0,0.880469,0.268487
...,...,...,...,...,...,...,...,...,...,...,...,...
695,1.709783,1.732051,-0.092981,-0.314485,-1.217485,-0.568019,-0.654143,0.562059,-1.114186,1,0.880469,-0.589690
696,1.714732,1.732051,-0.092981,-0.314485,-1.217485,-0.568019,0.040034,-1.320435,-0.643782,0,-0.019280,1.126663
697,1.719681,1.732051,-0.092981,-0.314485,-1.217485,-0.568019,1.624567,-1.320435,-0.408580,1,-0.919030,-0.589690
698,1.724629,-0.577350,-0.092981,-0.314485,0.821365,-0.568019,0.190942,-0.692937,-0.408580,1,-0.919030,-0.589690
699,1.729578,-0.577350,-0.092981,-0.314485,0.821365,-0.568019,1.036026,0.562059,-0.408580,0,-0.019280,0.268487

In [26]:
scaled_inputs.shape

(700, 12)

## Split the data into train & test and shuffle

### Import the relevant module

In [27]:
from sklearn.model_selection import train_test_split

### Split

In [28]:
train_test_split(scaled_inputs, targets)

[     Unnamed: 0  reason_type_1  reason_type_2  reason_type_3  reason_type_4  \
 308   -0.205372      -0.577350      -0.092981      -0.314485       0.821365
 618    1.328732      -0.577350      -0.092981      -0.314485       0.821365
 391    0.205372      -0.577350      -0.092981       3.179797      -1.217485
 496    0.724988      -0.577350      -0.092981      -0.314485       0.821365
 147   -1.002116      -0.577350      -0.092981      -0.314485       0.821365
 ..          ...            ...            ...            ...            ...
 77    -1.348527      -0.577350      -0.092981      -0.314485       0.821365
 376    0.131141      -0.577350      -0.092981      -0.314485       0.821365
 529    0.888296       1.732051      -0.092981      -0.314485      -1.217485
 40    -1.531629      -0.577350      -0.092981      -0.314485       0.821365
 401    0.254859      -0.577350      -0.092981       3.179797      -1.217485

      Month Value  Transportation Expense       Age  Body Mass Index  \
 308     0.929019               -0.654143 -1.006686        -1.819793
 618    -0.568019               -0.654143  0.248310         1.002633
 391     0.330204                0.356940  0.718933        -0.878984
 496    -0.568019                0.356940  0.718933        -0.878984
 147     0.629611                0.040034 -1.320435        -0.643782
 ..           ...                     ...       ...              ...
 77      0.929019                1.005844 -0.536062         0.767431
 376    -1.466241               -0.654143  0.248310         1.002633
 529     0.929019                0.387122  1.660180         1.237836
 40     -1.765648               -0.578689 -1.477309        -1.349389
 401    -1.166834                0.190942  0.091435         0.532229

      Education  Children      Pets
 308          1 -0.919030 -0.589690
 618          0 -0.919030 -0.589690
 391          0 -0.919030 -0.589690
 496          0 -0.919030 -0.589690
 147          0 -0.019280  1.126663
 ..         ...       ...       ...
 77           0  0.880469  0.268487
 376          0 -0.919030 -0.589690
 529          0  0.880469  0.268487
 40           0 -0.919030 -0.589690
 401          1 -0.019280  0.268487

 [525 rows x 12 columns],
      Unnamed: 0  reason_type_1  reason_type_2  reason_type_3  reason_type_4  \
 24    -1.610809      -0.577350      -0.092981       3.179797      -1.217485
 498    0.734885      -0.577350      -0.092981      -0.314485       0.821365
 558    1.031808       1.732051      -0.092981      -0.314485      -1.217485
 128   -1.096142      -0.577350      -0.092981      -0.314485       0.821365
 197   -0.754680      -0.577350      -0.092981       3.179797      -1.217485
 ..          ...            ...            ...            ...            ...
 356    0.032167      -0.577350      -0.092981      -0.314485       0.821365
 612    1.299039      -0.577350      -0.092981      -0.314485       0.821365
 52    -1.472245      -0.577350      -0.092981      -0.314485       0.821365
 285   -0.319193      -0.577350      -0.092981      -0.314485      -1.217485
 275   -0.368680      -0.577350      -0.092981      -0.314485       0.821365

      Month Value  Transportation Expense       Age  Body Mass Index  \
 24      0.330204                1.005844 -0.536062         0.767431
 498    -0.568019               -1.016322 -0.379188        -0.408580
 558     0.330204               -0.654143 -1.006686        -1.819793
 128     1.527833               -1.574681  0.091435         0.297027
 197    -0.867426                0.568211 -0.065439        -0.878984
 ..           ...                     ...       ...              ...
 356     1.527833               -0.654143  0.248310         1.002633
 612    -1.466241               -0.654143  0.248310         1.002633
 52      0.330204                0.040034 -1.320435        -0.643782
 285     0.629611                0.190942  1.032682         2.649049
 275     0.629611                1.036026  0.562059        -0.408580

      Education  Children      Pets
 24           0  0.880469  0.268487
 498          0  0.880469 -0.589690
 558          1 -0.919030 -0.589690
 128          0 -0.919030 -0.589690
 197          0  2.679969 -0.589690
 ..         ...       ...       ...
 356          0 -0.919030 -0.589690
 612          0 -0.919030 -0.589690
 52           0 -0.019280  1.126663
 285          0 -0.019280 -0.589690
 275          0 -0.019280  0.268487

 [175 rows x 12 columns],
 array([1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1,
        0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
        1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
        0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1,
        1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
        1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1,
        1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0,
        0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1,
        1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1,
        1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
        0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
        1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
        1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
        1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
        0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
        0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1,
        0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
        0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
        0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0,
        1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1,
        0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0,
        0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1]),
 array([1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1,
        0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
        1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0,
        1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
        0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0,
        1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0])]

In [29]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, #train_size = 0.8, 
                                                                            test_size = 0.2, random_state = 20)

In [30]:
print (x_train.shape, y_train.shape)

(560, 12) (560,)

In [31]:
print (x_test.shape, y_test.shape)

(140, 12) (140,)

## Logistic regression with sklearn

In [32]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

### Training the model

In [33]:
reg = LogisticRegression()

In [34]:
reg.fit(x_train,y_train)

LogisticRegression()

In [35]:
reg.score(x_train,y_train)

0.7821428571428571

### Manually check the accuracy

In [36]:
model_outputs = reg.predict(x_train)
model_outputs

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 0])

In [37]:
y_train

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0])

In [38]:
model_outputs == y_train

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True, False, False,  True,  True,  True,  True,
       False,  True, False,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False, False, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True, False,  True, False,  True,  True,
       False,  True,  True, False,  True,  True,  True,  True,  True,
       False,  True, False,  True,  True, False, False, False,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
       False, False,  True,  True, False,  True,  True,  True,  True,
        True, False,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
        True, False, False,  True,  True,  True,  True,  True, False,
       False, False,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
       False,  True,  True,  True,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True, False,
        True,  True,  True,  True,  True,  True, False,  True, False,
        True,  True,  True,  True, False,  True,  True,  True, False,
        True, False,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True, False,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True, False,  True, False,
        True,  True,  True,  True,  True, False, False,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True, False, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True, False, False,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True,  True, False, False,  True,  True,  True,  True,
        True, False,  True,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True,  True,
       False, False, False,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
       False,  True])

In [39]:
np.sum((model_outputs==y_train))

438

In [40]:
model_outputs.shape[0]

560

In [41]:
np.sum((model_outputs==y_train)) / model_outputs.shape[0]

0.7821428571428571

### Finding the intercept and coefficients

In [42]:
reg.intercept_

array([-0.1889362])

In [43]:
reg.coef_

array([[-0.24176547,  2.07380144,  0.34250594,  1.53172808,  1.31203691,
         0.00792613,  0.70073325, -0.18705066,  0.35107386, -0.19842476,
         0.36829133, -0.30367007]])

In [44]:
unscaled_inputs.columns.values

array(['Unnamed: 0', 'reason_type_1', 'reason_type_2', 'reason_type_3',
       'reason_type_4', 'Month Value', 'Transportation Expense', 'Age',
       'Body Mass Index', 'Education', 'Children', 'Pets'], dtype=object)

In [45]:
feature_name = unscaled_inputs.columns.values

In [46]:
summary_table = pd.DataFrame (columns=['Feature name'], data = feature_name)

summary_table['Coefficient'] = np.transpose(reg.coef_)

summary_table

              Feature name  Coefficient
0               Unnamed: 0    -0.241765
1            reason_type_1     2.073801
2            reason_type_2     0.342506
3            reason_type_3     1.531728
4            reason_type_4     1.312037
5              Month Value     0.007926
6   Transportation Expense     0.700733
7                      Age    -0.187051
8          Body Mass Index     0.351074
9                Education    -0.198425
10                Children     0.368291
11                    Pets    -0.303670

In [47]:
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

              Feature name  Coefficient
0                Intercept    -0.188936
1               Unnamed: 0    -0.241765
2            reason_type_1     2.073801
3            reason_type_2     0.342506
4            reason_type_3     1.531728
5            reason_type_4     1.312037
6              Month Value     0.007926
7   Transportation Expense     0.700733
8                      Age    -0.187051
9          Body Mass Index     0.351074
10               Education    -0.198425
11                Children     0.368291
12                    Pets    -0.303670

## Interpreting the coefficients

In [48]:
summary_table['Odds_ratio'] = np.exp(summary_table.Coefficient)

In [49]:
summary_table

              Feature name  Coefficient  Odds_ratio
0                Intercept    -0.188936    0.827839
1               Unnamed: 0    -0.241765    0.785240
2            reason_type_1     2.073801    7.955006
3            reason_type_2     0.342506    1.408473
4            reason_type_3     1.531728    4.626164
5            reason_type_4     1.312037    3.713731
6              Month Value     0.007926    1.007958
7   Transportation Expense     0.700733    2.015230
8                      Age    -0.187051    0.829402
9          Body Mass Index     0.351074    1.420592
10               Education    -0.198425    0.820021
11                Children     0.368291    1.445263
12                    Pets    -0.303670    0.738104

In [50]:
summary_table.sort_values('Odds_ratio', ascending=False)

              Feature name  Coefficient  Odds_ratio
2            reason_type_1     2.073801    7.955006
4            reason_type_3     1.531728    4.626164
5            reason_type_4     1.312037    3.713731
7   Transportation Expense     0.700733    2.015230
11                Children     0.368291    1.445263
9          Body Mass Index     0.351074    1.420592
3            reason_type_2     0.342506    1.408473
6              Month Value     0.007926    1.007958
8                      Age    -0.187051    0.829402
0                Intercept    -0.188936    0.827839
10               Education    -0.198425    0.820021
1               Unnamed: 0    -0.241765    0.785240
12                    Pets    -0.303670    0.738104

## Testing the model

In [51]:
reg.score(x_test,y_test)

0.7357142857142858

In [52]:
predicted_proba = reg.predict_proba(x_test)
predicted_proba

array([[0.79395607, 0.20604393],
       [0.58574935, 0.41425065],
       [0.43518528, 0.56481472],
       [0.81715022, 0.18284978],
       [0.04896783, 0.95103217],
       [0.3474663 , 0.6525337 ],
       [0.21836036, 0.78163964],
       [0.10732408, 0.89267592],
       [0.69979554, 0.30020446],
       [0.67540146, 0.32459854],
       [0.53492634, 0.46507366],
       [0.18125249, 0.81874751],
       [0.03561979, 0.96438021],
       [0.70460674, 0.29539326],
       [0.26356061, 0.73643939],
       [0.50373811, 0.49626189],
       [0.58063962, 0.41936038],
       [0.45166403, 0.54833597],
       [0.43980929, 0.56019071],
       [0.04009795, 0.95990205],
       [0.69043108, 0.30956892],
       [0.81679242, 0.18320758],
       [0.46119627, 0.53880373],
       [0.46181054, 0.53818946],
       [0.23805531, 0.76194469],
       [0.72859057, 0.27140943],
       [0.54393962, 0.45606038],
       [0.90605301, 0.09394699],
       [0.2100249 , 0.7899751 ],
       [0.8178642 , 0.1821358 ],
       [0.70057531, 0.29942469],
       [0.23344097, 0.76655903],
       [0.23996033, 0.76003967],
       [0.54385343, 0.45614657],
       [0.81804235, 0.18195765],
       [0.31988556, 0.68011444],
       [0.8031775 , 0.1968225 ],
       [0.1360342 , 0.8639658 ],
       [0.56372535, 0.43627465],
       [0.29822153, 0.70177847],
       [0.81117392, 0.18882608],
       [0.56134286, 0.43865714],
       [0.71853251, 0.28146749],
       [0.89198648, 0.10801352],
       [0.1796118 , 0.8203882 ],
       [0.34722941, 0.65277059],
       [0.34426884, 0.65573116],
       [0.69347774, 0.30652226],
       [0.77170556, 0.22829444],
       [0.80673331, 0.19326669],
       [0.5548904 , 0.4451096 ],
       [0.92917103, 0.07082897],
       [0.2347378 , 0.7652622 ],
       [0.79463025, 0.20536975],
       [0.11452375, 0.88547625],
       [0.59616995, 0.40383005],
       [0.08338115, 0.91661885],
       [0.8060242 , 0.1939758 ],
       [0.91469882, 0.08530118],
       [0.9159061 , 0.0840939 ],
       [0.34553442, 0.65446558],
       [0.33271308, 0.66728692],
       [0.78341061, 0.21658939],
       [0.12886393, 0.87113607],
       [0.72643577, 0.27356423],
       [0.68555473, 0.31444527],
       [0.98868323, 0.01131677],
       [0.70580127, 0.29419873],
       [0.18912167, 0.81087833],
       [0.59821131, 0.40178869],
       [0.70997847, 0.29002153],
       [0.91484096, 0.08515904],
       [0.08756053, 0.91243947],
       [0.58970307, 0.41029693],
       [0.41658152, 0.58341848],
       [0.8146342 , 0.1853658 ],
       [0.12699913, 0.87300087],
       [0.18427669, 0.81572331],
       [0.27480388, 0.72519612],
       [0.40799308, 0.59200692],
       [0.77366848, 0.22633152],
       [0.98301034, 0.01698966],
       [0.6991162 , 0.3008838 ],
       [0.21254305, 0.78745695],
       [0.54668252, 0.45331748],
       [0.90040213, 0.09959787],
       [0.20058041, 0.79941959],
       [0.5260206 , 0.4739794 ],
       [0.95504875, 0.04495125],
       [0.23365514, 0.76634486],
       [0.85624179, 0.14375821],
       [0.83596261, 0.16403739],
       [0.76927289, 0.23072711],
       [0.78702469, 0.21297531],
       [0.67592583, 0.32407417],
       [0.09147216, 0.90852784],
       [0.75385209, 0.24614791],
       [0.2588119 , 0.7411881 ],
       [0.78671343, 0.21328657],
       [0.83685134, 0.16314866],
       [0.30395898, 0.69604102],
       [0.23301305, 0.76698695],
       [0.25159454, 0.74840546],
       [0.29985186, 0.70014814],
       [0.51799853, 0.48200147],
       [0.47253514, 0.52746486],
       [0.74371824, 0.25628176],
       [0.09227071, 0.90772929],
       [0.18436204, 0.81563796],
       [0.89612568, 0.10387432],
       [0.99249542, 0.00750458],
       [0.0586061 , 0.9413939 ],
       [0.2776073 , 0.7223927 ],
       [0.61894404, 0.38105596],
       [0.38131659, 0.61868341],
       [0.34162607, 0.65837393],
       [0.12129598, 0.87870402],
       [0.10704854, 0.89295146],
       [0.51966472, 0.48033528],
       [0.69501089, 0.30498911],
       [0.67880629, 0.32119371],
       [0.88845116, 0.11154884],
       [0.19816022, 0.80183978],
       [0.56280079, 0.43719921],
       [0.81173815, 0.18826185],
       [0.69022582, 0.30977418],
       [0.81227101, 0.18772899],
       [0.84744127, 0.15255873],
       [0.26523465, 0.73476535],
       [0.79395038, 0.20604962],
       [0.43155909, 0.56844091],
       [0.76453247, 0.23546753],
       [0.75537734, 0.24462266],
       [0.68871843, 0.31128157],
       [0.72269143, 0.27730857],
       [0.32375504, 0.67624496],
       [0.51106277, 0.48893723],
       [0.60423976, 0.39576024],
       [0.78510298, 0.21489702],
       [0.45680706, 0.54319294]])

In [53]:
predicted_proba.shape

(140, 2)

In [54]:
predicted_proba[:,1]

array([0.20604393, 0.41425065, 0.56481472, 0.18284978, 0.95103217,
       0.6525337 , 0.78163964, 0.89267592, 0.30020446, 0.32459854,
       0.46507366, 0.81874751, 0.96438021, 0.29539326, 0.73643939,
       0.49626189, 0.41936038, 0.54833597, 0.56019071, 0.95990205,
       0.30956892, 0.18320758, 0.53880373, 0.53818946, 0.76194469,
       0.27140943, 0.45606038, 0.09394699, 0.7899751 , 0.1821358 ,
       0.29942469, 0.76655903, 0.76003967, 0.45614657, 0.18195765,
       0.68011444, 0.1968225 , 0.8639658 , 0.43627465, 0.70177847,
       0.18882608, 0.43865714, 0.28146749, 0.10801352, 0.8203882 ,
       0.65277059, 0.65573116, 0.30652226, 0.22829444, 0.19326669,
       0.4451096 , 0.07082897, 0.7652622 , 0.20536975, 0.88547625,
       0.40383005, 0.91661885, 0.1939758 , 0.08530118, 0.0840939 ,
       0.65446558, 0.66728692, 0.21658939, 0.87113607, 0.27356423,
       0.31444527, 0.01131677, 0.29419873, 0.81087833, 0.40178869,
       0.29002153, 0.08515904, 0.91243947, 0.41029693, 0.58341848,
       0.1853658 , 0.87300087, 0.81572331, 0.72519612, 0.59200692,
       0.22633152, 0.01698966, 0.3008838 , 0.78745695, 0.45331748,
       0.09959787, 0.79941959, 0.4739794 , 0.04495125, 0.76634486,
       0.14375821, 0.16403739, 0.23072711, 0.21297531, 0.32407417,
       0.90852784, 0.24614791, 0.7411881 , 0.21328657, 0.16314866,
       0.69604102, 0.76698695, 0.74840546, 0.70014814, 0.48200147,
       0.52746486, 0.25628176, 0.90772929, 0.81563796, 0.10387432,
       0.00750458, 0.9413939 , 0.7223927 , 0.38105596, 0.61868341,
       0.65837393, 0.87870402, 0.89295146, 0.48033528, 0.30498911,
       0.32119371, 0.11154884, 0.80183978, 0.43719921, 0.18826185,
       0.30977418, 0.18772899, 0.15255873, 0.73476535, 0.20604962,
       0.56844091, 0.23546753, 0.24462266, 0.31128157, 0.27730857,
       0.67624496, 0.48893723, 0.39576024, 0.21489702, 0.54319294])

## Save the model

In [55]:
import pickle

In [56]:
with open('model', 'wb') as file:
    pickle.dump(reg, file)

In [57]:
with open('scaler','wb') as file:
    pickle.dump(absenteeism_scaler, file)